<!doctype html>
{% load staticfiles %}
<!--suppress JSAnnotator -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/commons.css' %}">
    <title>Document</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
    
        <div id="header">
{#            <img src="{% static '' %}" alt="">#}
        </div>
        
        <div id="contents" class="container">

            <form action="musicmodel" class="form-inline">{% csrf_token %}
                <div class="col-md-12" style="margin: 4rem 0;">
                    <div class="col-md-8">
                        <input type="text" name="singer" placeholder="가수를 입력하세요" class="form-control">
                        <input type="text" name="composer" placeholder="작곡가를 입력하세요" class="form-control">
                        <select name="music_type" class="form-control">
                            <option value="댄스 > 댄스">댄스</option>
                            <option value="가요 > 알앤비">알앤비</option>
                            <option value="가요 > 힙합">힙합</option>
                            <option value="가요 > 락">락</option>
                            <option value="OST">OST</option>
                            <option value="기타">기타</option>
                        </select>
                        <input type="submit" value="확인" class="btn btn-info">
                    </div>
                    <div class="col-md-4">
                        <label for=""></label>
                        <input type="text" placeholder="{{ examp }}" class="form-control">
                        <input type="text" placeholder="{{ proba }} % 임." class="form-control">
                    </div>
                </div>
            </form>
            <!-- //.top -->


            <div class="col-md-12 shadow default-margin" style="background-color: white; overflow: hidden;">
                <form action="chart" class="form-inline" style="margin: 4rem 0;">{% csrf_token %}
                    <div class="col-md-12">
                        <h2>활동유형 현황</h2>
                        {% for target_year in month %}
                            <input type="submit" value="{{ target_year }}" name="year" class="btn btn-info" style="width: 6.2rem; margin-top: 2rem; overflow: hidden;">
                        {% endfor %}
                    </div>

                    <div class="col-md-6">
                        <div id="bar">
                            <apexchart type=bar :options="chartOptions" :series="series"></apexchart>
                        </div>
                    </div>
                    <div class="col-md-6" style="height: 400px;">
                        <div id="pie">
                            <apexchart type=pie :options="chartOptions" :series="series"></apexchart>
                        </div>
                    </div>
                </form>
            </div>
            <!-- // 활동유형 현황 -->

            <div class="col-md-12 shadow" style="margin-top: 4rem; background-color: white; overflow: hidden;">
                <div id="BoxPlot" style="margin: 4rem 0;">
                    <h2>년도별 재생시간 추이</h2>
                    <apexchart type=candlestick height=350 :options="chartOptions" :series="series" />
                </div>
            </div>
            <!-- graph.1 -->

            <div class="col-md-12 shadow" style="margin-top: 4rem; margin-bottom: 6rem; background-color: white; overflow: hidden;">
                <div id="StColumn" style="margin: 4rem 0">
                    <h2>년도별 음악장르 분포</h2>
                    <apexchart type=bar height=350 :options="chartOptions" :series="series"></apexchart>
                </div>
            </div>
            <!-- graph.3 -->
        </div>
        <!-- // #contents -->
        
        <div id="footer">
            <div class="col-md-12"></div>
        </div>
        <!-- // #footer -->

    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/apexcharts.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
<script src="{% static 'js/commons.js' %}"></script>

<!-- pie -->
<script>
    new Vue({
    el: '#pie',
    components: {
        apexchart: VueApexCharts,
    },
    data: {
        series: [{{ male }}, {{ female }}, {{ project_group }}, {{ mixed }}],
        chartOptions: {
            labels: ['남성', '여성', '프로젝트 그룹', '혼성'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        }
    }
})
</script>

<!-- bar -->
<script>
    new Vue({
        delimiters: ['{', '}'],
        el: '#bar',
        components: {
            apexchart: VueApexCharts,
        },
      data: {
        series: [{
          data: [{{ male_single }}, {{ male_duo }}, {{ female_single }}, {{ female_duo }}, {{ mixed }},]
        }],
        chartOptions: {
          plotOptions: {
            bar: {
              barHeight: '100%',
              distributed: true,
              horizontal: true,
              dataLabels: {
                position: 'bottom'
              },
            }
          },
          colors: ['#33b2df', '#13d8aa','#2b908f', '#f9a3a4', '#90ee7e'
          ],
          dataLabels: {
            enabled: true,
            textAnchor: 'start',
            style: {
              colors: ['#fff']
            },
            formatter: function (val, opt) {
              return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
            },
            offsetX: 0,
            dropShadow: {
              enabled: true
            }
          },
          stroke: {
            width: 1,
            colors: ['#fff']
          },
          xaxis: {
            categories: ['남성 솔로', '남성 듀오', '여성 솔로', '여성 듀오', '혼성'
            ],
          },
          yaxis: {
            labels: {
              show: false
            }
          },
          title: {
            text: '년도별 활동유형',
            align: 'center',
            floating: true
          },
          tooltip: {
            theme: 'dark',
            x: {
              show: false
            },
            y: {
              title: {
                formatter: function () {
                  return ''
                }
              }
            }
          }
        }
      }
    })
</script>

<!-- StColumn -->
<script>
    new Vue({
        el: '#StColumn',
        components: {
            apexchart: VueApexCharts,
        },
        data: {
            series: [{
                name: '댄스',
                data: [437, 364, 357, 391, 329, 305, 309, 241, 353, 388]
            }, {
                name: '알엔비',
                data: [505, 595, 548, 513, 526, 600, 524, 604, 489, 415]
            }, {
                name: '힙합',
                data: [176, 152, 128, 127, 183, 185, 268, 210, 169, 206]
            }, {
                name: '락',
                data: [45, 52, 128, 136, 110, 38, 67, 64, 24, 36]
            }, {
                name: 'OST',
                data: [15, 16, 43, 0, 1, 5, 2, 7, 23, 76]
            }, {
                name: '기타',
                data: [19, 16, 40, 32, 51, 67, 21, 70, 142, 80]
            }],
            chartOptions: {
                chart: {
                    stacked: true,
                    stackType: '100%'
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        legend: {
                            position: 'bottom',
                            offsetX: -10,
                            offsetY: 0
                        }
                    }
                }],
                xaxis: {
                    categories: ['2009', '2010', '2011', '2012', '2013',
                    '2014', '2015', '2016', '2017', '2018'
                    ],
                },
                fill: {
                    opacity: 1
                },
                legend: {
                    position: 'right',
                    offsetX: 0,
                    offsetY: 50
                }
            }
        }
    })
</script>

<!-- BoxPlot -->
<script>
    new Vue({
      el: '#BoxPlot',
      components: {
        apexchart: VueApexCharts,
      },
      data: {
        series: [{
          data: [
              {
              x: new Date(2008, 01, 01),
              y: ['', '', '', '']
              },
              {
              x: new Date(2009, 01, 01),
              y: [326, 534, 209, 400]
              },
              {
              x: new Date(2010, 01, 01),
              y: [324, 534, 232, 400]
              },
              {
              x: new Date(2011, 01, 01),
              y: [328, 748, 134, 408]
              },
              {
              x: new Date(2012, 01, 01),
              y: [326, 620, 034, 358]
              },
              {
              x: new Date(2013, 01, 01),
              y: [325, 618, 138, 404]
              },
              {
              x: new Date(2014, 01, 01),
              y: [325, 734, 205, 403]
              },
              {
              x: new Date(2015, 01, 01),
              y: [321, 650, 225, 358]
              },
              {
              x: new Date(2016, 01, 01),
              y: [326, 608, 138, 402]
              },
              {
              x: new Date(2017, 01, 01),
              y: [320, 541, 123, 401]
              },
              {
              x: new Date(2018, 01, 01),
              y: [322, 651, 111, 400]
              },
              {
              x: new Date(2019, 01, 01),
              y: []
              }
          ]
        }],
        chartOptions: {
          title: {
            text: '년도별 재생시간 추이',
            align: 'center'
          },
          xaxis: {
            type: 'datetime'
          },
          yaxis: {
            tooltip: {
              enabled: true
            }
          },
          plotOptions: {
              candlestick: {
                  colors: {
                      upward: '#6495ED'
                  }
              }
          }
        }
      }
    })
</script>

</body>
</html>